.idea/
.DS_Store
*pycache*
annotation/ALONEA/server/static/bundle/*
model/Active-NLP/wordvectors/*
model/Active-NLP/datasets/conll/mapping_iobes.pkl
glove*
alpaca_client/alpaca_serving_client.egg-info
alpaca_client/build
alpaca_client/dist
alpaca_server/alpaca_serving_client.egg-info
alpaca_server/build
alpaca_server/dist
.env
