tiny-tokenizer
applicationinsights==0.11.7
Django==2.1.7
django-filter==2.0.0
django-widget-tweaks==1.4.2
djangorestframework==3.8.2
djangorestframework-filters==0.10.2
Faker==0.9.1
flake8==3.6.0
gunicorn==19.9.0
mixer==6.1.3
psycopg2-binary==2.7.7
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
text-unidecode==1.2
tornado==5.0.2
spacy
pyzmq >= 17.1.0
termcolor
flair
pandas