{% extends "base.html" %}
{% load static %}

{% block content %}


<head>
  <title>AlpacaTag: An Active Learning-based Crowd Annotation Framework for Sequence Tagging</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  <!-- For event dropdown -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">

  <!-- For spinner -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>
  <link rel="stylesheet" href="https://spin.js.org/spin.css">

  <script type="text/javascript" src="{% static 'js/clientside.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>

<section class="hero banner banner--hero">
    <div class="banner--hero__content">
    <h1><span><b>AlpacaTag</b></span></h1>
    <h3><span>An Active Learning-based Crowd Annotation Framework for Sequence Tagging</span></h3>
    <div class="banner--hero__cta-container">
        <a class="btn" id='test' href="{% static 'file/AlpacaTag.pdf' %}">ACL paper</a>
      <a class="btn" href="data/rashkin2018event2mind_poster.pdf">Slides</a>
      <a class="btn" href="https://github.com/INK-USC/AlpacaTag">Source Code</a>
      <a class="btn"  href="" data-target="#contactUs" data-toggle="collapse" onclick="return false">Contact Us</a>
    </div>
    <div class="banner--hero__cta-container">
      <a class="btn" data-toggle="collapse" data-target="#api">API TUTORIAL</a>
      <a class="btn" data-toggle="collapse" data-target="#web">Web Tutorial</a>
      <a class="btn" data-toggle="collapse" data-target="#Installation">Installation guide</a>
    </div>
    </div>
</section>

<body>
  <div class="container content-left">
    <div class="row" >
      <div class="col-sm-12">
          <div id="tutorials" class="tutorials__content constrained constrained--med">
              <div id="contactUs" class="collapse" data-parent="#tutorials">

{#                            <div class="row">#}

                                <div class="row">
                                    <div class="col-3">
                                        <div >
                                            <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
{#                                    <img src="{% static 'images/cat-1045782_640.jpg' %}" alt="One" style="width:100%">#}
                                              <div class="container">
                                                  <p style="text-align:center" class="contact_name">Donghou</p>
{#                                                <p><button class="button">Contact</button></p>#}
                                              </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div >
                                            <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
{#                                    <img src="{% static 'images/cat-1045782_640.jpg' %}" alt="One" style="width:100%">#}
                                              <div class="container">
                                                  <p style="text-align:center" class="contact_name">Donghou</p>
{#                                                <p><button class="button">Contact</button></p>#}
                                              </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div >
                                            <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
{#                                    <img src="{% static 'images/cat-1045782_640.jpg' %}" alt="One" style="width:100%">#}
                                              <div class="container">
                                                  <p style="text-align:center"class="contact_name">Donghou</p>
{#                                                <p><button class="button">Contact</button></p>#}
                                              </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div >
                                            <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
{#                                    <img src="{% static 'images/cat-1045782_640.jpg' %}" alt="One" style="width:100%">#}
                                              <div class="container">
                                                  <p style="text-align:center" class="contact_name">Donghou</p>
{#                                                <p><button class="button">Contact</button></p>#}
                                              </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div >
                                            <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
{#                                    <img src="{% static 'images/cat-1045782_640.jpg' %}" alt="One" style="width:100%">#}
                                              <div class="container">
                                                  <p class="contact_name">Donghou</p>
{#                                                <p><button class="button">Contact</button></p>#}
                                              </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div >
                                            <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
{#                                    <img src="{% static 'images/cat-1045782_640.jpg' %}" alt="One" style="width:100%">#}
                                              <div class="container">
                                                  <p class="contact_name">Donghou</p>
{#                                                <p><button class="button">Contact</button></p>#}
                                              </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div >
                                            <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
{#                                    <img src="{% static 'images/cat-1045782_640.jpg' %}" alt="One" style="width:100%">#}
                                              <div class="container">
                                                  <p class="contact_name">Donghou</p>
{#                                                <p><button class="button">Contact</button></p>#}
                                              </div>
                                        </div>
                                    </div>

                                </div>
{#                                <div class="row">#}
{#                                    <div class="col-4">#}
{##}
{#                                    </div>#}
{#                                    <div class="col-4"></div>#}
{#                                    <div class="col-4"></div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-4">#}
{##}
{#                                    </div>#}
{#                                    <div class="col-4"></div>#}
{#                                    <div class="col-4"></div>#}
{#                                </div>#}

{#                            </div>#}






{#              <p>#}
{#                For research or press inquiries, contact <a href="yuchen.lin@usc.edu">Bill Yuchen Lin</a> and/or <a href="mailto:xiangren@usc.edu">Xiang Ren</a>.#}
{#              </p>#}


              <hr>
            </div>
              <div id="api" class="collapse" data-parent="#tutorials">
              <p>
                something api
              </p>
              <hr>
            </div>
              <div id="web" class="collapse" data-parent="#tutorials">

                  <div class="row">
                      <div class="col-6" >
                          <img src="{% static 'images/add_label.gif' %}" style="width: 100%; float: left;">
                      </div>
                      <div class="col-6">
                          <p style="margin-left: 10px">
                            add_label
                          </p>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-6" >
                          <img src="{% static 'images/annotate.gif' %}" style="width: 100%; float: left;">
                      </div>
                      <div class="col-6">
                          <p style="margin-left: 10px">
                            annotate
                          </p>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-6" >
                          <img src="{% static 'images/recommendation.gif' %}" style="width: 100%; float: left;">
                      </div>
                      <div class="col-6">
                          <p style="margin-left: 10px">
                            recommendation
                          </p>
                      </div>
                  </div>


              <hr>
            </div>
              <div id="Installation" class="collapse" data-parent="#tutorials">
        <h1 id="requirements">Requirements</h1>
              <ol class="formatted">
                  <li>Python 3.6+</li>
            <li>django 2.0.5+</li>
            <li>Google Chrome(highly recommended)</li>
            <li>Pytorch</li>
              </ol>
         <hr>
        <h1 id="installation">Installation</h1>
        <p><b>Setup Python environment</b></p>
        <p>First we need to install the dependencies. Run the following commands:</p>

          <figure>
              <pre><code class="language-bash" data-language="bash">conda create -n alpaca python==3.6</code></pre>
          </figure>
<h1 id="frontend-django-vue.js">Frontend (Django, Vue.js)</h1>
<p>We need to compile the frontend. Run the following commands:</p>
<pre class=" language-bash"><code class="prism  language-bash"><span class="token function">cd</span> annotation/AlpacaTag/server
<span class="token function">npm</span> <span class="token function">install</span>
<span class="token function">npm</span> run build
<span class="token function">cd</span> <span class="token punctuation">..</span>
</code></pre>
<p>Next we need to make migration. Run the following command:</p>
<pre class=" language-bash"><code class="prism  language-bash">python manage.py migrate
</code></pre>
<p>Next we need to create a user who can login to the admin site. Run the following command:</p>
<pre class=" language-bash"><code class="prism  language-bash">python manage.py createsuperuser
</code></pre>
<p>Enter your desired username and press enter.</p>
<pre class=" language-bash"><code class="prism  language-bash">Username: admin
</code></pre>
<p>You will then be prompted for your desired email address:</p>
<pre class=" language-bash"><code class="prism  language-bash">Email address: admin@example.com
</code></pre>
<p>The final step is to enter your password. You will be asked to enter your password twice, the second time as a confirmation of the first.</p>
<pre class=" language-bash"><code class="prism  language-bash">Password: **********
Password <span class="token punctuation">(</span>again<span class="token punctuation">)</span>: *********
Superuser created successfully.
</code></pre>
<p><b>Running Django development server</b></p>
<pre class=" language-bash"><code class="prism  language-bash">python manage.py runserver
</code></pre>
<p>Now, open a Web browser and go to <a href="http://127.0.0.1:8000">http://127.0.0.1:8000</a>.<br>
If you run on your own server, use this command.</p>
<pre class=" language-bash"><code class="prism  language-bash">python manage.py runserver 0.0.0.0:8000
</code></pre>
              <hr>

          <hr>

         </div>

          </div>



      </div>
    </div>
    <div class="row" >


      <div class="col-6">

          <div class="tutorials__content constrained constrained--med">

          <h1>Project description</h1>
          <p>
            In <em>AlpacaTag</em>, we introduce an open-source web-based data annotation framework for sequence tagging tasks such as named-entity recognition (NER).
            The distinctive advantages of AlpacaTag are three-fold.
          </p>

              <ol class="formatted">
                  <li><em>Active intelligent recommendation:</em> dynamically suggesting annotations and sampling the most informative unlabeled instances with a back-end active learned model;
            </li>
                  <li>
              <em>Automatic crowd consolidation:</em> enhancing real-time interannotator agreement by merging inconsistent labels from multiple annotators;
            </li>
                  <li>
              <em>Real-time model deployment:</em> users can deploy their models in downstream systems while new annotations are being made.
            </li>
              </ol>
          <p>
            AlpacaTag is a comprehensive solution for sequence labeling tasks, ranging from rapid tagging with recommendations powered by
            active learning and auto-consolidation of crowd annotations to real-time model deployment.
            We show that it ...
          </p>

          </div>

        </div>



      <div class="col-6">


          <div class="constrained constrained--med">

              <figure>
            <div class="img-div">
            <img class="figure-img img-fluid" src="{% static 'images/overview.png' %}" alt="see caption" style="margin-left: 20px; width: 100%; float: right;">
            <br>
            <figcaption class="figure-caption">
                The workflow for annotators to confirm a given tagging suggestion ("Hillary Clinton" as <span class="text-monospace">PER</span>).
            </figcaption>
            </div>
        </figure>

          <ul class="publications">
              <li>
                  <p class="publications__abstract">Read out paper for more:</p>
                  <a href="https://homes.cs.washington.edu/~msap/pdfs/rashkin2018event2mind.pdf" class="publications__title"> AlpacaTag: An Active Learning-based Crowd Annotation Framework for Sequence Tagging. ACL  </a>
                  <span class="publications__authors">Bill Yuchen Lin, Dong-Ho Lee, Frank F. Xu, Ouyu Lan, Xiang Ren</span>
                  <span class="publications__year">2019</span>

              </li>
          </ul>
      </div>


      </div>
    </div>
    <hr>
    <div class="row" style="margin-top: 20px;">


      <div class="col-8">
          <div class="tutorials__content constrained constrained--med">

<h1 id="backend-pytorch-zeromq">Backend (Pytorch, ZeroMQ)</h1>
<p><b>Server-side</b></p>
<pre class=" language-bash"><code class="prism  language-bash"><span class="token function">cd</span> alpaca_server/alpaca_serving/cli
python main.py
</code></pre>
<p><b>Client-side</b></p>
<pre class=" language-bash"><code class="prism  language-bash">from alpaca_client.alpaca_serving <span class="token function">import</span> *
from alpaca_server.alpaca_model.pytorchAPI <span class="token function">import</span> *
x_train, y_train <span class="token operator">=</span> utils.load_data_and_labels<span class="token punctuation">(</span><span class="token string">'train.bio'</span><span class="token punctuation">)</span>
sent <span class="token operator">=</span> x_train<span class="token punctuation">[</span>0:10<span class="token punctuation">]</span>
label <span class="token operator">=</span> y_train<span class="token punctuation">[</span>0:10<span class="token punctuation">]</span>
ac <span class="token operator">=</span> AlpacaClient<span class="token punctuation">(</span><span class="token punctuation">)</span>
ac.initiate<span class="token punctuation">(</span>1<span class="token punctuation">)</span>
ac.online_initiate<span class="token punctuation">(</span>sent,<span class="token punctuation">[</span><span class="token punctuation">[</span><span class="token string">'B-PER'</span>, <span class="token string">'I-PER'</span>, <span class="token string">'B-LOC'</span>, <span class="token string">'I-LOC'</span>, <span class="token string">'B-ORG'</span>, <span class="token string">'I-ORG'</span>, <span class="token string">'B-MISC'</span>, <span class="token string">'I-MISC'</span>, <span class="token string">'O'</span><span class="token punctuation">]</span><span class="token punctuation">]</span><span class="token punctuation">)</span>
ac.online_learning<span class="token punctuation">(</span>sent,label<span class="token punctuation">)</span>
ac.predict<span class="token punctuation">(</span><span class="token string">"New York and Paris"</span><span class="token punctuation">)</span>
</code></pre>
            </div>
        </div>





      <div class="col-4 ">
        <figure>
          <div class="img-div">
            <img class="figure-img img-fluid" src="{% static 'images/crop_recom.png' %}" alt="see caption" style="width: 100%;max-width:none;">
            <img class="hoverlarge" src="{% static 'images/crop_recom.png' %}" alt="see caption" style="left:-120px;top:0px; border-radius: 0%;">
            <figcaption class="figure-caption">
              The workflow for annotators to confirm a given tagging suggestion ("Hillary Clinton" as <span class="text-monospace">PER</span>).
            </figcaption>
          </div>
        </figure>
        <hr>
        <figure>
          <div class="img-div">
            <img class="figure-img img-fluid" src="{% static 'images/normal_anno.png' %}" alt="see caption" style="width: 100%;max-width:none;">
            <img class="hoverlarge" src="{% static 'images/normal_anno.png' %}" alt="see caption" style="left: -120px; top: 250px; border-radius: 0%;">
            <figcaption class="figure-caption">
                Annotating a span without recommendations.
            </figcaption>
          </div>
        </figure>
        <hr>
        <figure>
          <div class="img-div">
            <img class="figure-img img-fluid" src="{% static 'images/consolidation.png' %}" alt="see caption" style="width: 100%;max-width:none;">
            <img class="hoverlarge" src="{% static 'images/consolidation.png' %}" alt="see caption" style="left: -120px; top: 250px; border-radius: 0%;">
            <figcaption class="figure-caption">
                Reducing inter-annotator disagreement by training personal models for personalized active sampling and constructing consensus models.
            </figcaption>
          </div>
        </figure>
      </div>
    </div>
  </div>
</body>
{% endblock %}

