{% extends "base.html" %}
{% load static %}

{% block content %}


<head>
  <title>AlpacaTag: An Active Learning-based Crowd Annotation Framework for Sequence Tagging</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  <!-- For event dropdown -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">

  <!-- For spinner -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>
  <link rel="stylesheet" href="https://spin.js.org/spin.css">

  <script type="text/javascript" src="{% static 'js/clientside.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<section class="hero banner banner--hero">
    <div class="banner--hero__content">
    <h1><span><b>AlpacaTag</b></span></h1>
    <h3><span>An Active Learning-based Crowd Annotation Framework for Sequence Tagging</span></h3>
    <div class="banner--hero__cta-container">
        <a class="btn" id='test' href="{% static 'file/paper.pdf' %}">ACL paper</a>
      <a class="btn" href="{% static 'file/poster.pdf' %}">Poster</a>
      <a class="btn" data-toggle="collapse" data-target="#web">Tutorial</a>
      
    <!-- </div>
    <div class="banner--hero__cta-container"> -->
      <!-- <a class="btn" data-toggle="collapse" data-target="#api">API TUTORIAL</a> -->
      
      <a class="btn" id='test'href="https://github.com/INK-USC/AlpacaTag/blob/master/README.md">Installation guide</a>
      <a class="btn" href="https://github.com/INK-USC/AlpacaTag">Github</a>
    </div>
    </div>
</section>

<body>
  <div class="container content-left">
    <div class="row" >
      <div class="col-sm-12">
          <div id="tutorials" class="tutorials__content constrained constrained--med">
              <div id="contactUs" class="collapse" data-parent="#tutorials">

                    <div class="row">
                        <div class="col-3">
                            <div >
                                <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
                                  <div class="container">
                                      <a href="https://danny-lee.info/" style="text-align:center" class="contact_name">Dongho</a>
                                  </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div >
                                <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
                                  <div class="container">
                                      <a href="https://danny-lee.info/" style="text-align:center" class="contact_name">Dongho</a>
                                  </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div >
                                <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
                                  <div class="container">
                                      <a href="https://danny-lee.info/" style="text-align:center" class="contact_name">Dongho</a>
                                  </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div >
                                <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
                                  <div class="container">
                                      <a href="https://danny-lee.info/" style="text-align:center" class="contact_name">Dongho</a>
                                  </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div >
                                <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
                                  <div class="container">
                                      <a href="https://danny-lee.info/" style="text-align:center" class="contact_name">Dongho</a>
                                  </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div >
                                <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
                                  <div class="container">
                                      <a href="https://danny-lee.info/" style="text-align:center" class="contact_name">Dongho</a>
                                  </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div >
                                <img class="contact" src="{% static 'images/cat-1045782_640.jpg' %}" alt="Avatar" style="width:200px">
                                  <div class="container">
                                      <a href="https://danny-lee.info/" style="text-align:center" class="contact_name">Dongho</a>
                                  </div>
                            </div>
                        </div>

                    </div>
{#              <p>#}
{#                For research or press inquiries, contact <a href="yuchen.lin@usc.edu">Bill Yuchen Lin</a> and/or <a href="mailto:xiangren@usc.edu">Xiang Ren</a>.#}
{#              </p>#}
              <hr>
            </div>
              <div id="api" class="collapse" data-parent="#tutorials">
              <p>


<h1 id="backend-pytorch-zeromq">Backend (Pytorch, ZeroMQ)</h1>
<p><b>Server-side</b></p>
<pre class=" language-bash"><code class="prism  language-bash"><span class="token function">cd</span> alpaca_server/alpaca_serving/server
python main.py
</code></pre>
<p><b>Client-side</b></p>
<pre class=" language-bash"><code class="prism  language-bash"># get data for example
from alpaca_server.alpaca_model.pytorchAPI <span class="token function">import</span> *
x_train, y_train <span class="token operator">=</span> utils.load_data_and_labels<span class="token punctuation">(</span><span class="token string">'train.bio'</span><span class="token punctuation">)</span>
sent <span class="token operator">=</span> x_train<span class="token punctuation">[</span>0:10<span class="token punctuation">]</span>
label <span class="token operator">=</span> y_train<span class="token punctuation">[</span>0:10<span class="token punctuation">]</span>


from alpaca_serving.client <span class="token function">import</span> *
ac <span class="token operator">=</span> AlpacaClient<span class="token punctuation">(</span><span class="token punctuation">)</span> # connect to server
ac.initiate<span class="token punctuation">(</span>1<span class="token punctuation">)</span> # initiate the model with project_id. if the model with the project_id is exists, load it
active_data = ac.active_learning<span class="token punctuation">(</span>sent, acquire=5<span class="token punctuation">)</span> # active sampling with acquire size
active_sent = <span class="token punctuation">[</span>sent<span class="token punctuation">[</span>a_i<span class="token punctuation">]</span> for a_i in active_data['indices']<span class="token punctuation">]</span>
active_label = <span class="token punctuation">[</span>label<span class="token punctuation">[</span>a_i<span class="token punctuation">]</span> for a_i in active_data['indices']<span class="token punctuation">]</span>
ac.online_initiate<span class="token punctuation">(</span>active_sent,<span class="token punctuation">[</span><span class="token punctuation">[</span><span class="token string">'B-PER'</span>, <span class="token string">'I-PER'</span>, <span class="token string">'B-LOC'</span>, <span class="token string">'I-LOC'</span>, <span class="token string">'B-ORG'</span>, <span class="token string">'I-ORG'</span>, <span class="token string">'B-MISC'</span>, <span class="token string">'I-MISC'</span>, <span class="token string">'O'</span><span class="token punctuation">]</span><span class="token punctuation">]</span><span class="token punctuation">)</span> # if the model is firstly initiated, need to build preprocessor
ac.online_learning<span class="token punctuation">(</span>active_sent,active_label<span class="token punctuation">,epoch=5,batch=5)</span> # online learning with epoch and batch size
ac.predict<span class="token punctuation">(</span><span class="token string">"New York and Paris"</span><span class="token punctuation">)</span> # predict the named entity
</code></pre>

              </p>
              <hr>
            </div>
              <div id="web" class="collapse" data-parent="#tutorials">

                  <div class="row">
                      <div class="col-6" >
                          <img class="thumbnail" src="{% static 'images/add_label.gif' %}" style="width: 100%; float: left;">
                      </div>
                      <div class="col-6">
                          <p style="margin-left: 10px">
                            When you first create a project, you must first specify the label.
                              Go to Labels tab in Data / Setting section, and predefine the labels.
                          </p>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-6" >
                          <img class="thumbnail" src="{% static 'images/annotate.gif' %}" style="width: 100%; float: left;">
                      </div>
                      <div class="col-6">
                          <p style="margin-left: 10px">
                            Select the spans you want to tag in the annotating section and click or press the associated type
                          </p>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-6" >
                          <img class="thumbnail" src="{% static 'images/recommendation.gif' %}" style="width: 100%; float: left;">
                      </div>
                      <div class="col-6">
                          <p style="margin-left: 10px">
                            Tagging suggestions are shown as underlined spans in the recommendation section.
                              after click on a suggested span, a floating window will show up near for confirming the types
                              (suggested type is bounded with red line).
                              after click a suggested type or press a shortcut key, confirmed annotations will show up in the upper annotation section
                          </p>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-6" >
                          <img class="thumbnail" src="{% static 'images/setting.gif' %}" style="width: 100%; float: left;">
                      </div>
                      <div class="col-6">
                          <p style="margin-left: 10px">
                            Setting
                          </p>
                      </div>
                  </div>

              <hr>
            </div>
              <div id="Installation" class="collapse" data-parent="#tutorials">
        <h1 id="requirements">Requirements</h1>
              <ol class="formatted">
                  <li>Python 3.6+</li>
            <li>django 2.0.5+</li>
            <li>Google Chrome(highly recommended)</li>
            <li>Pytorch</li>
              </ol>
         <hr>
        <h1 id="installation">Installation</h1>
        <p><b>Setup Python environment</b></p>
        <p>First we need to install the dependencies. Run the following commands:</p>

          <figure>
              <pre><code class="language-bash" data-language="bash">conda create -n alpaca python==3.6</code></pre>
          </figure>
<h1 id="frontend-django-vue.js">Frontend (Django, Vue.js)</h1>
<p>We need to compile the frontend. Run the following commands:</p>
<pre class=" language-bash"><code class="prism  language-bash"><span class="token function">cd</span> annotation/AlpacaTag/server
<span class="token function">npm</span> <span class="token function">install</span>
<span class="token function">npm</span> run build
<span class="token function">cd</span> <span class="token punctuation">..</span>
</code></pre>
<p>Next we need to make migration. Run the following command:</p>
<pre class=" language-bash"><code class="prism  language-bash">python manage.py migrate
</code></pre>
<p>Next we need to create a user who can login to the admin site. Run the following command:</p>
<pre class=" language-bash"><code class="prism  language-bash">python manage.py createsuperuser
</code></pre>
<p>Enter your desired username and press enter.</p>
<pre class=" language-bash"><code class="prism  language-bash">Username: admin
</code></pre>
<p>You will then be prompted for your desired email address:</p>
<pre class=" language-bash"><code class="prism  language-bash">Email address: admin@example.com
</code></pre>
<p>The final step is to enter your password. You will be asked to enter your password twice, the second time as a confirmation of the first.</p>
<pre class=" language-bash"><code class="prism  language-bash">Password: **********
Password <span class="token punctuation">(</span>again<span class="token punctuation">)</span>: *********
Superuser created successfully.
</code></pre>
<p><b>Running Django development server</b></p>
<pre class=" language-bash"><code class="prism  language-bash">python manage.py runserver
</code></pre>
<p>Now, open a Web browser and go to <a href="http://127.0.0.1:8000">http://127.0.0.1:8000</a>.<br>
If you run on your own server, use this command.</p>
<pre class=" language-bash"><code class="prism  language-bash">python manage.py runserver 0.0.0.0:8000
</code></pre>
              <hr>

          <hr>

         </div>

          </div>



      </div>
    </div>
    <div class="row" >


      <div class="col-6">

          <div class="tutorials__content constrained constrained--med">

          <h1>AlpacaTag</h1>
          <p>
            <em>AlpacaTag</em> is an open-source web-based data annotation framework for sequence tagging tasks, such as named-entity recognition (NER).
            Its distinctive advantages are three-fold:
          </p>

              <ol class="formatted">
                  <li><b>Active intelligent recommendation:</b> dynamically suggesting annotations and sampling the most informative unlabeled instances with a back-end active learned model.
            </li>
                  <li>
              <b>Automatic crowd consolidation:</b> enhancing real-time interannotator agreement by merging inconsistent labels from multiple annotators.
            </li>
                  <li>
              <b>Real-time model deployment:</b> users can deploy their models in downstream systems while new annotations are being made.
            </li>
              </ol>
              <br/>
              <h4>Video</h4>
              <br/>
              <iframe width="500" height="315" src="https://www.youtube.com/embed/DI5LNVts9nc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <br/><br/>
              <h4>Links</h4>
              <!-- <ul class="publications"> -->
                  <!-- <li> -->
                  	<!-- <p class="publications__abstract">Paper:</p> -->
                  <ul>
                 <li> <a href="{% static 'file/paper.pdf' %}"> AlpacaTag: An Active Learning-based Crowd Annotation Framework for Sequence Tagging.</a>   <br>
                  <span class="publications__authors">Bill Yuchen Lin*, Dong-Ho Lee*, Frank F. Xu, Ouyu Lan, Xiang Ren</span> 
                  <span class="publications__year">In Proc. of ACL 2019 (Demo Track) </span>
                  </li>
                  <li>
                  Github repo: <a href="https://github.com/INK-USC/AlpacaTag/" target="blank">https://github.com/INK-USC/AlpacaTag/</a> 
                  </li>
                  </ul>
          </div>

        </div>

      <div class="col-6">
          <div class="constrained constrained--med">
              <figure>
                <div class="img-div">
                <img class="figure-img img-fluid" src="{% static 'images/overview.png' %}" alt="see caption" style="margin-left: 20px; width: 100%; float: right;">
                <br>
                <!-- <figcaption class="figure-caption">
                    The overview of the AlpacaTag framework.
                </figcaption> -->
                </div>
                <div class="img-div">
                <img class="figure-img img-fluid" src="{% static 'images/consolidation.png' %}" alt="see caption" style="margin-left: 20px; width: 100%; float: right;">
                <!-- <figcaption class="figure-caption">
                    Reducing inter-annotator disagreement by training personal models for personalized active sampling and constructing consensus models (beta ver.).
                </figcaption> -->
                </div>

                <div class="img-div">
                <img class="figure-img img-fluid" src="{% static 'images/implemenations.png' %}" alt="see caption" style="margin-left: 20px; width: 100%; float: right;">
                <figcaption class="figure-caption">
                    <!-- The framework implmentations. -->
                </figcaption>
                </div>

              </figure>
      </div>


      </div>
    </div>
    <hr>
    <div class="row" style="margin-top: 20px;">
    </div>
  </div>
</body>
{% endblock %}

