{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero" style="background-color:#2a2e2f">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <h1 class="title is-1 has-text-white">ALPACA</h1>
        <h2 class="subtitle is-4 has-text-white">An Active Learning-based Crowd Annotation Framework for Sequence Tagging</h2>
      </div>
    </div>
  </div>
</section>




<head>
  <title>AlpacaTag: An Active Learning-based Crowd Annotation Framework for Sequence Tagging</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  <!-- For event dropdown -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">

  <!-- For spinner -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>
  <link rel="stylesheet" href="https://spin.js.org/spin.css">

  <script type="text/javascript" src="{% static 'js/clientside.js' %}"></script>
</head>




<div class="container content-left" style="">
<div class="row" style="margin-top: 20px;">
  <div class="col-sm-10">
    <h1 class="">AlpacaTag<small class="text-muted"><br>An Active Learning-based Crowd Annotation Framework for Sequence Tagging</small></h1>
    <p><em>Quick links:</em>&nbsp;
      <a href="data/rashkin2018event2mind.pdf">[ACL paper]</a>
      &nbsp;
      <a href="data/rashkin2018event2mind_poster.pdf">[Slides]</a>
      &nbsp;
      <a href="data/event2mind.zip">[Source Code]</a>
      &nbsp;
      <a href="http://demo.allennlp.org/event2mind">[Demo]</a>
      &nbsp;
      <a href="" data-target="#contactUs" data-toggle="collapse" onclick="return false;">[Contact Us]</a>
    </p>
    <div id="contactUs" class="collapse">
      <p>
        For research or press inquiries, contact <a href="yuchen.lin@usc.edu">Bill Yuchen Lin</a> and/or <a href="mailto:xiangren@usc.edu">Xiang Ren</a>.
      </p>
      <hr>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h3>Knowledge Graph Browser</h3>
    <p>
      Select an event and see our annotations (or type to search):
    </p>
    <select id="eventSelector" onchange="loadEvent(this.value)" class="selectpicker" data-live-search="true" data-width="90%">
      <option selected disabled value> -- loading events -- </option>
      <!--option class="train" value="013e6510-5cd4-4b4e-bd7e-491d3732602b" data-tokens="013e6510-5cd4-4b4e-bd7e-491d3732602b">School Project</option>
      <option class="dev" value="a2ddbb50-e45b-4ad3-becf-b2d8475172bf" data-tokens="a2ddbb50-e45b-4ad3-becf-b2d8475172bf">Curry Disaster</option-->
    </select>
    <div class="loadersmall"></div>
    <!--div id="loader-container">
      Loading events
      <div class="loadersmall"></div>
    </div-->
    <div id="annotations">
      <em><small>No event selected</small></em>
    </div>
    <h4>Annotation explanation</h4>
    <p style="font-size: .95rem;">
      <strong>PersonX's intent</strong>: What are the likely reasons for PersonX causing the event (if any)?
      <br>
      <strong>PersonX's reaction</strong>: How might PersonX likely feel after the event?
      <br>
      <strong>Other people's reaction</strong>: How might others (perhaps implied) participants feel after the event?
    </p>
    <p style="font-size: .95rem;">
      <span class="text-monospace">PersonX (PersonY, ...)</span> represent event participants.
      <br>
      <span class="text-monospace">____</span> is a placeholder for possible words or phrases that could used with the event.
    </p>
    <!--PersonX incapsulates the  -->
  </div>
  <div class="col-6">
    <img class="figure-img img-fluid rounded" src="{% static 'images/overview.png' %}" alt="see caption" style="margin-left: 20px; width: 90%; float: right;">
  </div>
</div>
<hr>
<div class="row" style="margin-top: 25px;">
  <div class="col-8">
    <h4>Project description</h4>
    <p>
      In <em>AlpacaTag</em>, we introduce an open-source web-based data annotation framework for sequence tagging tasks such as named-entity recognition (NER).
      The distinctive advantages of AlpacaTag are three-fold.
    </p>
    <ul>
      <li><em>Active intelligent recommendation:</em> dynamically suggesting annotations and sampling the most informative unlabeled instances with a back-end active learned model;
      </li>
      <li>
        <em>Automatic crowd consolidation:</em> enhancing real-time interannotator agreement by merging inconsistent labels from multiple annotators;
      </li>
      <li>
        <em>Real-time model deployment:</em> users can deploy their models in downstream systems while new annotations are being made.
      </li>
    </ul>
    <p>
      AlpacaTag is a comprehensive solution for sequence labeling tasks, ranging from rapid tagging with recommendations powered by
      active learning and auto-consolidation of crowd annotations to real-time model deployment.
      We show that it ...
    </p>
    <em>Read our paper for more:</em>
    <br>
    Bill Yuchen Lin, Dong-Ho Lee, Frank F. Xu, Ouyu Lan, Xiang Ren (2019).<br>
    <strong>AlpacaTag: An Active Learning-based Crowd Annotation Framework for Sequence Tagging</strong>. <em>ACL System Demostration</em>
    <a href="https://homes.cs.washington.edu/~msap/pdfs/rashkin2018event2mind.pdf">[view pdf]</a>
    <br>
    <a href="#abstract" data-toggle="collapse">[show abstract]</a>

    <div class="row justify-content-center collapse" id="abstract" style="margin-top: 15px;">
      <div class="col-10">
        <h4>Abstract</h4>
        <p style="font-size: 10pt; max-width: 500px;display: inline-block;text-align: justify;">
          We introduce an open-source web-based data
          annotation framework (AlpacaTag) for sequence tagging tasks such as named-entity
          recognition (NER). The distinctive advantages
          of AlpacaTag are three-fold. 1) Active intelligent recommendation: dynamically suggesting annotations and sampling the most informative unlabeled instances with a back-end
          active learned model; 2) Automatic crowd
          consolidation: enhancing real-time interannotator agreement by merging inconsistent
          labels from multiple annotators; 3) Real-time
          model deployment: users can deploy their
          models in downstream systems while new annotations are being made. AlpacaTag is
          a comprehensive solution for sequence labeling tasks, ranging from rapid tagging with
          recommendations powered by active learning
          and auto-consolidation of crowd annotations
          to real-time model deployment.            </p>
      </div>
    </div>
  </div>
  <!--div class="col-1">
  </div-->
  <div class="col-4 ">
    <figure>
      <div class="img-div">
{#        <img class="figure-img img-fluid rounded" src="graphics/crop_recom.png" alt="see caption" style="width: 100%;max-width:none;">#}
          <img class="figure-img img-fluid rounded" src="{% static 'images/crop_recom.png' %}" alt="see caption" style="width: 100%;max-width:none;">
        <img class="hoverlarge" src="{% static 'images/crop_recom.png' %}" alt="see caption" style="left:-120px;top:0px; border-radius: 5%;">
        <figcaption class="figure-caption">
          The workflow for annotators to confirm a given tagging suggestion ("Hillary Clinton" as <span class="text-monospace">PER</span>).
        </figcaption>
      </div>
    </figure>
    <hr>
    <figure>
      <div class="img-div">
        <img class="figure-img img-fluid rounded" src="{% static 'images/mind2vecMovies_v3 (birnn-seq).png' %}" alt="see caption" style="width: 100%;max-width:none;">
        <img class="hoverlarge" src="{% static 'images/mind2vecMovies_v3 (birnn-seq).png' %}" alt="see caption" style="left: -120px; top: 250px; border-radius: 5%;">
        <figcaption class="figure-caption">
          Two scene description snippets from <em>Juno</em> (2007, top) and <em>Pretty Woman</em> (1990, bottom).
        </figcaption>
      </div>
    </figure>
  </div>
</div>
<!--div class="alert alert-secondary" role="alert">
  This website is still under construction, check back soon for a demo...
</div-->
<!--hr>
<div class="row" style="margin-bottom: 100px;">
  <div class="col-sm-12">
    <em>Read our paper for more:</em>
    <br>
    Hannah Rashkin, Maarten Sap, Emily Allaway, Noah A. Smith, &amp; Yejin Choi (2018).<br>
    <strong>Event2Mind: Commonsense Inference on Events, Intents and Reactions</strong>. <em>ACL</em>
    <a href="https://homes.cs.washington.edu/~msap/pdfs/rashkin2018event2mind.pdf">[view pdf]</a>
  </div>
</div-->
</div>

{% endblock %}

