{% extends "admin/admin_base.html" %}
{% load static %}
{% block content-area %}


<head>
  <script type="text/javascript" src="{% static 'js/html.js' %}"></script>
</head>

<div class="card">
  <header class="card-header">
      <div class="model__content">
          <h2><span>Settings</span></h2>
      </div>
  </header>

  <div class="card-content model__content ">
      <div class="field is-horizontal bordered-row">
          <label class="label column is-3 mb0">Embedding</label>
          <div class="control column is-narrow">
              <div class="select">
                  <select v-model="selectedKey">
                    <option>Glove (default)</option>
                    <option>Word2Vec</option>
                    <option>FastText</option>
                    <option>Bert</option>
                    <option>Elmo</option>
                    <option>GPT</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="field is-horizontal bordered-row ">
          <label class="label column is-3 mb0">Recommendation</label>
          <div class="is-narrow">
              <input class="is-checkradio" type="checkbox" id="nounchunk" value="nounchunk" v-model="checkedKey">
              <label for="nounchunk"><kbd>Noun Chunk</kbd></label>
          </div>
          <div class="is-narrow">
              <input class="is-checkradio" type="checkbox" id="onlinelearning" value="onlinelearning" v-model="checkedKey">
              <label for="onlinelearning"><kbd>Online Learning</kbd></label>
          </div>
          <div class="is-narrow">
              <input class="is-checkradio" type="checkbox" id="history" value="history" v-model="checkedKey">
              <label for="history"><kbd>Annotation History</kbd></label>
          </div>
      </div>


      <div class="field is-horizontal bordered-row ">
          <label class="label column is-3 mb0">Active learning</label>
          <div class="is-narrow">
              <input class="is-checkradio" type="checkbox" id="nounchunk" value="nounchunk" v-model="checkedKey">
              <label for="nounchunk"><kbd>Random</kbd></label>
          </div>
          <div class="is-narrow">
              <input class="is-checkradio" type="checkbox" id="onlinelearning" value="onlinelearning" v-model="checkedKey">
              <label for="onlinelearning"><kbd>MNLP</kbd></label>
          </div>
          <div class="is-narrow">
              <input class="is-checkradio" type="checkbox" id="history" value="history" v-model="checkedKey">
              <label for="history"><kbd>MNLP + MC</kbd></label>
          </div>
          <div class="is-narrow">
              <input class="is-checkradio" type="checkbox" id="history" value="history" v-model="checkedKey">
              <label for="history"><kbd>MNLP + BB</kbd></label>
          </div>
      </div>
      <div class="field is-horizontal bordered-row">
          <label class="label column is-3 mb0">Batch Size</label>
          <div class="control column is-5">
              <input class="input" type="text" placeholder="# of instances per online learning (Default: 10)" v-model="batch">
          </div>
      </div>
      <div class="field is-horizontal bordered-row">
          <label class="label column is-3 mb0">Epoch per batch</label>
          <div class="control column is-5">
              <input class="input" type="text" placeholder="Epoch per each learning (Default: 10)" v-model="epoch">
          </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="btn btn--icon-disclosure" @click="addLabel()">SAVE</button>
        </div>
        <div class="control">
          <button class="button is-text" @click="reset()">RESET</button>
        </div>
      </div>


  </div>
</div>
{% endblock %}
{% block footer %}
<script src="{% static 'bundle/setting.js' %}"></script>
{% endblock %}