/* Three columns side by side */
/*.column {*/
/*  float: left;*/
/*  width: 33.3%;*/
/*  margin-bottom: 16px;*/
/*  padding: 0 8px;*/
/*}*/

/* Display the columns below each other instead of side by side on small screens */
/*@media screen and (max-width: 650px) {*/
/*  .column {*/
/*    width: 100%;*/
/*    display: block;*/
/*  }*/
/*}*/

/* Add some shadows to create a card effect */
/*.card {*/
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
/*}*/

.contact_name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}
.contact {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

/* Some left and right padding inside the container */
/*.container {*/
/*  padding: 0 16px;*/
/*}*/

/* Clear floats */
/*.container::after, .row::after {*/
/*  content: "";*/
/*  clear: both;*/
/*  display: table;*/
/*}*/


/*.button {*/
/*  border: none;*/
/*  outline: 0;*/
/*  display: inline-block;*/
/*  padding: 8px;*/
/*  color: white;*/
/*  background-color: #000;*/
/*  text-align: center;*/
/*  cursor: pointer;*/
/*  width: 100%;*/
/*}*/

/*.button:hover {*/
/*  background-color: #555;*/
/*}*/